@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+3:wght@400;600;700&display=swap');

:root {
    --text-gray: #272727;
    --text-black: #202020;
    --bg-gray: #F4F9FD;
    --btn-yellow: #FFCA00;
    --btn-text-blue: #250F8A;
}

/* GENERAL */

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.none {
    display: none;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Source Sans 3', sans-serif; */

/* HEADER */

.header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 793px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

/* MENU */

.menu__list {
    display: flex;
    gap: 50px;
}

.menu__list a {
    text-transform: uppercase;
    color: #FFF;
    opacity: .5;
    font-weight: 600;
    transition: all 0.2s ease;
}

.menu__list a:hover {
    opacity: 1;
}

.login {
    margin-right: 44px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    transition: all 0.2s ease;
}

.login:hover {
    color: var(--btn-text-blue);
}

.sign-up {
    text-transform: uppercase;
    color: var(--btn-text-blue);
    padding: 8px 43px;
    background-color: #FFF;
    border-radius: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.sign-up:hover {
    background-color: var(--btn-yellow);
}

/* SLIDER */

.header-slider {
    padding-top: 111px;
}

.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}
.header-slider__item-info {
    color: #FFF;
    max-width: 506px;
}
.header-slider__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.header-slider-descr {
    font-size: 24px;
    line-height: 2.29;
    margin-bottom: 60px;
}
.header-slider__btn {
    color: var(--btn-text-blue);
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn-yellow);
    padding: 13px 39px;
    border-radius: 25px;
    transition: all 0.2s ease;
}

.header-slider__btn:hover {
    background-color: #FFF;
}

.header-slider__item-img {
    margin: 10px 82px 0 0;
}

.header-dots {
    position: absolute;
    right: 0;
    top: 50%;
}

.header-dots button {
    background-color: #FFF;
    opacity: .5;
    font-size: 0;
    height: 7px;
    width: 7px;
    border-radius: 3.5px;
    display: block;
    margin: 10px auto;
}

.header-dots .slick-active button {
    opacity: 1;
    width: 15px;
}

/* SECTION SPEC */

.spec {
    padding: 55px 0 93px;
    background-image: url('../img/spec-bg.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    color: var(--text-black);
    text-align: center;
}

.spec_title {
    margin-bottom: 96px;
}

.title {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}

.spec__items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    gap: 70px;
}

.spec__item-img {
    margin-bottom: 23px;
    min-height: 159px;
}

.spec__item-title {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
}

.spec__item-text {
    padding: 0 10px;
    color: var(--text-gray);
    opacity: .7;
}

/* SECTION ADVANTAGES */

.advantages {
    padding-top: 64px;
    background-color: var(--bg-gray);
    background-image: url(../img/advantages-bg.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.advantages-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
}

.advantages-box--right .advantages-box__info {
    order: 1;
    background-image: url(../img/title-bg-2.svg);
    background-position: 35px 135px;
}

.advantages-box__info {
    max-width: 456px;
    padding-top: 60px;
    background-image: url(../img/title-bg-1.svg);
    background-repeat: no-repeat;
    background-position: 20px 75px;
}

.advantages-box__info--bg {
    background-image: url(../img/title-bg-3.svg);
    background-position: 5px 105px;
}

.advantages-box__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.28;
    color: var(--text-black);
    padding: 68px 0 15px 48px;
}
.advantages-box__text {
    color: var(--text-gray);
    padding-left: 48px;
}

.advantages-box__text p{
    margin: 12px 0;
}

/* SECTION REVIEWS */

.reviews {
    background-image: url(../img/reviews-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 38px 0 82px;
}

.reviews__title {
    color: #FFF;
    margin: 0 auto 48px;
    max-width: 384px;
}

.reviews__items {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.reviews__item {
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    padding: 35px 20px;
    color: #FFF;
}

.reviews__item-head {
    display: flex;
    margin-bottom: 12px;
}

.reviews__item-head img {
    border-radius: 50%;
    margin-right: 20px;
}

.reviews__item-name {
    font-weight: 600;
}

.reviews__item-position {
    opacity: .5;
}

.reviews__item-text {
    text-align: center;
    padding-top: 39px;
    position: relative;
}

.reviews__item-text::before {
    content: "“";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.37;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* FOOTER */

.footer {
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    color: var(--text-gray);
    padding: 0 33px 0 44px;
}

.footer__link a + a {
    margin-left: 30px;
}

.footer__copy {
}